p {
	color: orange;
}

* {
	font-family: "Arial", monospace;
	/*20 px - 20 pixels*/
	font-size: 20px;
}

h1 {
	font-size: 1rem;
}
#change1{
	text-transform: uppercase;
}

.change2 {
	background-color: skyblue;
}

.change3 {
	border-width: 1px;
	border-style: solid;
	border-color: darkred;
}

img + ul {
	list-style-type: none;
	
}

#change4 + img {
	/*height- for changing vertical dimensions of an element*/
	height: 300px;
	width- for changing horizontal dimensions of an element
	width: 300px;
	/*border-radius- for changing the corners of an element from sharp to rounder corner*/
	border-radius: 150px;
}

h4 ~ p {
	text-align: right;
}

body > section > ul > li {
	letter-spacing: 20px;
}